header {
    width: 1440px;
    height: 115.75px;
}

.container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 66px;
    margin-top: 8px;
    column-gap: 7px;
}

.logo-container img {
    width: 103px;
}

.links-outer {
    margin-right: 67px;
}

.ru {
    margin-left: 1.8em;
    display: flex;
    justify-content: end;
    align-items: start;
    width: 50px;
}

.links-outer a {
    display: flex;
    justify-content: end;
    align-items: start;
    color: black;
    font-size: 12;
    font-weight: 400;
}

.row-eng {
    display: flex;
    justify-content: end;
    align-items: start;
    margin-bottom: 16px;
}

ul {
    display: flex;
    column-gap: 20px;
}

ul li {
    text-align: center;
}

.row-eng a {
    line-height: auto;
    font-size: 12px;
}

a, span, .row-eng a {
    font-family: 'Roboto';
    line-height: auto;
    font-weight: 400;
}

a {
    font-size: 20px;
    color: black;
}

.ru {
    font-weight: 500;
    font-size: 16;
    color: rgb(68, 88, 82);
    word-wrap: break-word;
}