.help-box {
    background-color: rgb(29, 54, 48);
    height: 85.28px;
    display: flex;
    color: white;
    column-gap: 20px;
    justify-content: center;
}

.help-outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    /* border: red solid; */
    position: relative;
    width: auto;
}

.help-inner-box {
    width: auto;
    /* border: yellow solid; */
    position: absolute;
    top: 98px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 15%;
    line-height: 116.7%;
}

.help-inner-box :first-child {
    display: none;
}

.help-text {
    display: none;  
}

.help-img-box {
    display: flex;
    justify-content: space-between;
    /* border: blue solid; */
    width: 550px;
    position: relative;
}

.yakut-box {
    position: absolute;
    bottom: 0;
}

.help-inner-box button {
    border: 1px solid white;
    padding: 19px 43px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 15%;
    line-height: 116.7%;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    letter-spacing: 0.1em;
}

.mobile-btn {
    display: none;
}


@media (max-width: 768px) {
    .help-box {
        height: 85.28px;
    }
    
    .help-outer-box {
        width: 100vw;
    }
    
    .help-inner-box {
        position: static;
    }
    
    .help-img-box {
        display: none;
    }

    .desktop-btn {
        display: none;
    }

    .mobile-btn {
        display: block;
    }

    .help-inner-box button {
        border: 1px solid white;
        padding: 13.5px 20.4px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 15%;
        line-height: 116.7%;
        text-transform: uppercase;
        background-color: transparent;
        color: white;
        letter-spacing: 0.1em;
    }
    
}