.help-box {
    background-color: rgb(29, 54, 48);
    height: 393px;
    display: flex;
    color: white;
    column-gap: 20px;
    justify-content: space-between;
}

.help-outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    /* border: red solid; */
    position: relative;
    width: 820px;
}

.help-inner-box {
    width: 740px;
    /* border: yellow solid; */
    position: absolute;
    top: 98px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 15%;
    line-height: 116.7%;
}

.help-inner-box :first-child {
    font-size: 44px;
    color: white;
    letter-spacing: 0.2em;
}

.help-text {
    margin: 44px auto;
    color: white;
    font-size: 14px;
}

.help-img-box {
    display: flex;
    justify-content: space-between;
    /* border: blue solid; */
    width: 550px;
    position: relative;
}

.yakut-box {
    position: absolute;
    bottom: 0;
}

.help-inner-box button {
    border: 1px solid white;
    padding: 19px 43px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 15%;
    line-height: 116.7%;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    letter-spacing: 0.1em;
}